/* Загальний стиль для сторінки "Про мене" */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #444;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    padding: 0.75em;
    color: white;
    display: block;
}

nav ul li a.active {
    background-color: #555;
    font-weight: bold;
}

section#about {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    display: block;
    margin: 0 auto 1em;
    width: 150px;
    border-radius: 50%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}